---
title: Oceans Ate Alaska
---
<%= partial "partials/header" %>
<div class="spacer"></div>
<%= partial "partials/video" %>
<div class="spacer"></div>
<%= partial "partials/contest" %>
<div class="spacer"></div>
<%= partial "partials/social-wall" %>
<%= partial "partials/footer" %>
